@using WebsiteBanSach.Models
@model IEnumerable<Book>
@{
    ViewBag.Title = "LoadSachTheoDanhMuc";
    Layout = "~/Views/Layout/MainUserLayout.cshtml";
}

<div class="row store-items">

    @foreach (var item  in Model)
    {
        <div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
                <div class="store-item-rating text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="store-item-image">
                    <a href="@Url.Action("XemChiTietSach","UserHome",new {BookID=item.BookID})">
                        <img src="@Url.Content("~/Content/HinhAnhSach/"+item.Image)" alt="not found" class="img-responsive" style="width:400px; height:300px;">
                    </a>
                </div>
                <div class="store-item-info clearfix">
                    <span class="store-item-price themed-color-dark pull-right">@item.Price.Value.ToString("#,##") VNĐ</span>
                    <a href="ecom_product.html"><strong>@item.BookName</strong></a><br>
                    @*Nút thêm vào giỏ hàng; request.url: lấy đường dẫn hiện tại*@
                    <small><i class="fa fa-shopping-cart text-muted"></i> <a href="@Url.Action("ThemGioHang","GioHang",new {@_BookID=item.BookID,@urlPath=Request.Url.ToString()})" class="text-muted">Add to cart</a></small>
                </div>
            </div>
        </div>
    }


    @*<div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
                <div class="store-item-rating text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="store-item-image">
                    <a href="ecom_product.html">
                        <img src="img/placeholders/photos/photo28.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="store-item-info clearfix">
                    <span class="store-item-price themed-color-dark pull-right">$ 59</span>
                    <a href="ecom_product.html"><strong>Gloves</strong></a><br>
                    <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
                </div>
            </div>
        </div>
        <div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
                <div class="store-item-rating text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="store-item-image">
                    <a href="ecom_product.html">
                        <img src="img/placeholders/photos/photo30.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="store-item-info clearfix">
                    <span class="store-item-price themed-color-dark pull-right">$ 99</span>
                    <a href="ecom_product.html"><strong>Jacket</strong></a><br>
                    <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
                </div>
            </div>
        </div>
        <div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
                <div class="store-item-rating text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="store-item-image">
                    <a href="ecom_product.html">
                        <img src="img/placeholders/photos/photo32.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="store-item-info clearfix">
                    <span class="store-item-price themed-color-dark pull-right">$ 79</span>
                    <a href="ecom_product.html"><strong>Headset</strong></a><br>
                    <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
                </div>
            </div>
        </div>
        <div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
                <div class="store-item-rating text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="store-item-image">
                    <a href="ecom_product.html">
                        <img src="img/placeholders/photos/photo35.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="store-item-info clearfix">
                    <span class="store-item-price themed-color-dark pull-right">$ 1.599</span>
                    <a href="ecom_product.html"><strong>Laptop</strong></a><br>
                    <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
                </div>
            </div>
        </div>
        <div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
                <div class="store-item-rating text-warning">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <div class="store-item-image">
                    <a href="ecom_product.html">
                        <img src="img/placeholders/photos/photo33.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="store-item-info clearfix">
                    <span class="store-item-price themed-color-dark pull-right">$ 149</span>
                    <a href="ecom_product.html"><strong>Sunglasses</strong></a><br>
                    <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
                </div>
            </div>
        </div>*@
</div>

