@using WebsiteBanSach.Models
@model Book
@{
    ViewBag.Title = "XemChiTietSach";
    Layout = "~/Views/Layout/MainUserLayout.cshtml";
}

<div class="col-md-8 col-lg-9">
    <div class="row" data-toggle="lightbox-gallery">
        <!-- Images -->
        <div class="col-sm-6 push-bit">
            <a href="img/placeholders/photos/photo31.jpg" class="gallery-link"><img src="@Url.Content("~/Content/HinhAnhSach/"+Model.Image)" alt="" class="img-responsive push-bit"></a>
            
        </div>
        <!-- END Images -->
        <!-- Info -->
        <div class="col-sm-6 push-bit">
            <div class="clearfix">
                <div class="pull-right">
                    <span class="h2"><strong>@Model.Price.Value.ToString("#,##") VNĐ</strong></span>
                </div>
                <span class="h4"><strong class="text-success">@Model.BookName</strong><br><br /><br /><small>Có sẵn @Model.Quantity cuốn sách</small></span>
            </div>
            <hr>
            <p>Tác Giả: @ViewBag.AuthorName</p>
            <p>Nhà Xuất Bản: @Model.Publisher</p>
            <p>Ngày Phát Hành: @Model.PublishDate</p>
            
            
            <hr>
            
                @using (Html.BeginForm("ThemGioHang", "GioHang", new {@class="form-inline push-bit text-right"}))
                {
                    @*Nút thêm vào giỏ hàng; request.url: lấy đường dẫn hiện tại*@

                    @Html.Hidden("_BookID", Model.BookID)
                    @Html.Hidden("urlPath", Request.Url.ToString())
                    <button type="submit" class="btn btn-primary">Thêm vào giỏ hàng</button>
                }

            
        </div>
        <!-- END Info -->
        <!-- More Info Tabs -->
        <div class="col-xs-12 site-block">
            <ul class="nav nav-tabs push-bit" data-toggle="tabs">
                <li class=""><a href="#product-specs">Specs</a></li>
                <li class="active"><a href="#product-description">Description</a></li>
                <li class=""><a href="#product-reviews">Reviews (3)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="product-specs">
                    <table class="table table-borderless table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th colspan="2">Main Features</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 120px;"><strong>Feature #1</strong></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td><strong>Feature #2</strong></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td><strong>Feature #3</strong></td>
                                <td>Details</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th colspan="2">Dimensions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 120px;"><strong>Height</strong></td>
                                <td>85cm</td>
                            </tr>
                            <tr>
                                <td><strong>Width</strong></td>
                                <td>40cm</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-borderless table-striped table-vcenter">
                        <thead>
                            <tr>
                                <th colspan="2">More Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 120px;"><strong>Info #1</strong></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td><strong>Info #2</strong></td>
                                <td>Details</td>
                            </tr>
                            <tr>
                                <td><strong>Info #3</strong></td>
                                <td>Details</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane active" id="product-description">
                    <p>@Model.Description</p>
                    <p>Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor. Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices. Sed at mi velit. Ut egestas tempor est, in cursus enim venenatis eget! Nulla quis ligula ipsum.</p>
                    <p>Vestibulum ullamcorper, odio sed rhoncus imperdiet, enim elit sollicitudin orci, eget dictum leo mi nec lectus. Nam commodo turpis id lectus scelerisque vulputate. Integer sed dolor erat. Fusce erat ipsum, varius vel euismod sed, tristique et lectus? Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales!</p>
                </div>
                <div class="tab-pane" id="product-reviews">
                    <ul class="media-list push">
                        <li class="media">
                            <a href="javascript:void(0)" class="pull-left">
                                <img src="img/placeholders/avatars/avatar6.jpg" alt="Avatar" class="img-circle">
                            </a>
                            <div class="media-body">
                                <div class="text-warning pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="javascript:void(0)"><strong>Customer</strong></a><br>
                                <span class="text-muted"><small><em>2 hours ago</em></small></span>
                                <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.</p>
                            </div>
                        </li>
                        <li class="media">
                            <a href="javascript:void(0)" class="pull-left">
                                <img src="img/placeholders/avatars/avatar13.jpg" alt="Avatar" class="img-circle">
                            </a>
                            <div class="media-body">
                                <div class="text-warning pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="javascript:void(0)"><strong>Customer</strong></a><br>
                                <span class="text-muted"><small><em>2 hours ago</em></small></span>
                                <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.</p>
                            </div>
                        </li>
                        <li class="media">
                            <a href="javascript:void(0)" class="pull-left">
                                <img src="img/placeholders/avatars/avatar9.jpg" alt="Avatar" class="img-circle">
                            </a>
                            <div class="media-body">
                                <div class="text-warning pull-right">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="javascript:void(0)"><strong>Customer</strong></a><br>
                                <span class="text-muted"><small><em>2 hours ago</em></small></span>
                                <p>Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Donec lacinia venenatis metus at bibendum? In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END More Info Tabs -->
    </div>
</div>

